body{
    background-color: rgb(229, 232, 216); 
    margin: 0;
}

/* This allows you to be able to position html elements starting from the top left instead of displaying as block under p5.js canvas */
#html-body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p, a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    text-decoration: none;
}

#color-input{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    width: 20%;
    margin: auto;
}



h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    text-decoration: none;
    font-size: 45pt;
}

#flex{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20%;
}

#flex, p{
    font-size: 30pt;
}
#flex, a{
    font-size: 30pt;
    color:rgb(87, 127, 48); 
}

/* submit button  */
#submit{
    padding: 5%;
    background-color:cornflowerblue;
    border-radius: 25px;
    text-align: center;
}

/* question */
#answer{
    padding: 5%;
}

/* type box  */
#question{
    margin: 10%;
}

#next{
    color: rgb(57, 117, 81);
    align-items: center;
    text-align: center;
    font-size:25px;
    padding: 10%;
}